<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subnet Deployment Wizard</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body onload="fetchLoop()">
  <div class="body-wrap">
    <div class="container">
      <h1>Subnet Deployment Wizard</h1>
      <div>
        <button id="gen_button" class="button" onclick="window.open('/gen', '_blank')">Generate Configs</button>
        <button id="start_button" class="button" onclick="callStreamApi('/start_subnet', 'output')">Start Subnet</button>
        <button id="service_button" class="button" onclick="callStreamApi('/deploy_csc', 'output')">Deploy CSC</button>
      </div>
      <div id="history">
        <div>History:</div>
      </div>
    </div>

    <div class="container">
      <h1>Status</h1>
      <div id="state" class="output-status" >Status: </div>
    </div>
  </div>

    <script src="script.js"></script>
</body>
</html>

<!-- 
steps:
  1. Generate ... done checkmark
    gen button 

  2a. copy subnet files if multiple machine 
  2b. start Subnet ... done checkmark
    start button
  3. deploy CSC ... done checkmark
    deploy button 
  4. deploy crosschain ... done checkmark
    deploy button
  5. start services ... done checkmark

  5a. show links to services view page << how this works locally vs on server?

  6. start explorer (optional) 

  
  
  -->