<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subnet Deployment Wizard</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body onload="fetchLoop()">
  <div class="body-wrap">
    <div class="container">
      <h1>Subnet Deployment Wizard</h1>
      <div class="left-aligned">
        <div>
          <div>1. Select Subnet Configuration</div> 
          <!-- <button id="gen_button" class="button" onclick="toggleClass('gen-button-hidden')">Generate Configs</button> -->
          <div>
            <button id="gen_button_1_tn" class="button gen-button" onclick="generate1('testnet')">1-Node Subnet (Testnet)</button>
            <button id="gen_button_3_tn" class="button gen-button" onclick="generate3('testnet')">3-Node Subnet with Subswap (Testnet)</button>
          </div>
          <div>
            <button id="gen_button_1_mn" class="button gen-button" onclick="generate1('mainnet')">1-Node Subnet (Mainnet)</button>
            <button id="gen_button_3_mn" class="button gen-button" onclick="generate3('mainnet')">3-Node Subnet with Subswap (Mainnet)</button>
          </div>
          <div>
            <button id="gen_button_custom" class="button gen-button" onclick="window.open('/gen', '_blank')">Custom Subnet</button>
          </div>
        </div>
        <div>
          <div>2a. copy files</div>
          <div>2. Start Subnet</div>
          <button id="start_button" class="button" onclick="callStreamApi('/start_subnet', 'output')">Start Subnet</button>
        </div>
        <div>
          <div>3a. Add Testnet/Mainnet balance to: </div>
          <div id="parentnet-wallet"></div>
          <div id="parentnet-zero-wallet"></div>
          <div>Testnet Faucets: </div>
          <div>
            <a href="https://faucet.blocksscan.io/ " target="_blank">Testnet(Apothem) Faucet by BlocksScan</a> 
          </div>
          
          <div id="subnet-wallet"></div>
          <div id="subnet-zero-wallet"></div>
          <div>
            <a href="https://faucet.apothem.network/" target="_blank">Testnet(Apothem) Faucet</a> 
          </div>
          <div>3b. Add Subnet balance to: </div>

            <a href="/faucet" target="_blank">Subnet Faucet</a> 
        </div>

        <div>
          <div>4a. deploy csc</div>
          <div>4b. deploy subswap</div>
          <button id="service_button" class="button" onclick="callStreamApi('/deploy_csc', 'output')">Deploy CSC</button>
          <button class="button" onclick="callStreamApi('/deploy_crosschain', 'output')">Deploy Crosschain</button> 
          <button class="button" onclick="callStreamApi('/deploy_subswap', 'output')">Deploy Subswap</button> 
        </div>
        <div>
          <div>5. start services</div>

          <button class="button" onclick="callStreamApi('/start_services', 'output')">Start Services</button>
        </div>
        <div>
          <div>6. start optional</div>
          <div>explorer</div>
          <div>monitor</div>
        </div>
      </div>
      <div id="history-text"></div>
      <div id="history">
      </div>
    </div>

    <div class="container">
      <h1>Status</h1>
      <div id="state" class="output-status" >Status: </div>
    </div>
  </div>

  <!-- <div> Ref and docs
    https://docs.xdc.network/subnet/install_guide/launch_subnet/
    https://github.com/XinFinOrg/XDC-Subnet
  </div> -->

    <script src="script.js"></script>
</body>
</html>

<!-- 
steps:
  1. Generate ... done checkmark
    gen button 

  2a. copy subnet files if multiple machine 
  2b. start Subnet ... done checkmark
    start button
  3. deploy CSC ... done checkmark
    deploy button 
  4. deploy crosschain ... done checkmark
    deploy button
  5. start services ... done checkmark

  5a. show links to services view page << how this works locally vs on server?

  6. start explorer (optional) 

  
  
  -->